body {
    background: url("../../public/dog.jpg");
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
}

.wrapper {
    display: flex;
    justify-content: end;
    margin-right: 50px;
}

.form-box{
    position:relative;
    margin-left: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 65vh;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 200px;
    background-color: rgba(255, 255, 255, 0.25);
}

.register-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 20px;
}

.oneLine {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    margin: 0;
}

.oneLine span {
    color: #45b3e7;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin: 0;
}

header {
    color: black;
    font-size: 30px;
    text-align: center;
    padding: 0;
}
.input-box input{
    margin-top: 0px;
}
.input-field {
    font-size: 15px;
    background:  #e6f1f6;
    color: black;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    margin-bottom: 20px;
    border: none;
    border-radius: 30px;
    transition: .2s ease;

}
.input-field:hover, .input-field:focus{
    background:rgba(255, 255, 255, 0.25);
}
::-webkit-input-placeholder {
    color: black;
}

#submit {
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    background: #45b3e7;
    cursor: pointer;
}

#submit:hover{
    background:#89cff0;
    transition: .2s ease;
}

.error-message {
    padding-bottom: 10px;
}

.loginsignup-agree {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    margin-top: 20px;
    font-weight: lighter;
    margin-left: 10px;
    gap: 10px;
}

.oneLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.oneLine p {
    margin: 0;
    font-size: 14px;
}

.oneLine span {
    color: #007BFF;
    cursor: pointer;
    text-decoration: underline;
}

.input-box {
    margin-bottom: 20px;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.loginsignup-agree {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.loginsignup-agree input[type="checkbox"] {
    margin-right: 10px;
}

.loginsignup-agree p {
    margin: 0;
    font-size: 12px;
}

input::placeholder {
    color: rgba(128, 128, 128, 0.741);
}
  
@media (max-width: 1024px) {
    .wrapper {
        justify-content: center; 
        
    }
    .form-box {
        margin: 0 auto; 
        margin-top: 200px;
    }
}

@media (min-width: 1025px) {
    .wrapper {
        justify-content: flex-end; 
    }
    .form-box {
        margin-right: 50px; 
    }
}

