body {
<<<<<<< HEAD
    background: url("../../public/dog2.jpg");
=======
    background: url("../../public/dog.jpg");
>>>>>>> b90369d2fe9d3a3375bb5a287b306b473d430ae1
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
}

.wrapper {
    display: flex;
    justify-content: end;
    margin-right: 50px;
}

.form-box{
    position:relative;
    margin-left: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 65vh;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 200px;
    background-color: rgba(255, 255, 255, 0.25);
}

.register-container {
    width: 500px;
    display: flex;
    flex-direction: column;
}

<<<<<<< HEAD
.top span {
=======
.oneLine {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.oneLine span {
>>>>>>> b90369d2fe9d3a3375bb5a287b306b473d430ae1
    color: #45b3e7;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
<<<<<<< HEAD
}

.top span a{
    font-weight: 500;
    color: #45b3e7;
    margin-left: 5px;
=======
    cursor: pointer;
>>>>>>> b90369d2fe9d3a3375bb5a287b306b473d430ae1
}

header {
    color: black;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}

.input-field {
    font-size: 15px;
    background:  #e6f1f6;
    color: black;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    margin-bottom: 20px;
    border: none;
    border-radius: 30px;
    transition: .2s ease;
}
.input-field:hover, .input-field:focus{
    background:rgba(255, 255, 255, 0.25);
}
::-webkit-input-placeholder {
    color: black;
}

<<<<<<< HEAD
.submit {
=======
#submit {
>>>>>>> b90369d2fe9d3a3375bb5a287b306b473d430ae1
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    background: #45b3e7;
    cursor: pointer;
}

<<<<<<< HEAD
.submit:hover{
    background:#89cff0;
    transition: .2s ease;
=======
#submit:hover{
    background:#89cff0;
    transition: .2s ease;
}

.error-message {
    padding-bottom: 10px;
}

.loginsignup-agree {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    margin-top: 20px;
    font-weight: lighter;
    margin-left: 10px;
    gap: 10px;
}

@media (max-width: 1024px) {
    .wrapper {
        justify-content: center; /* 水平居中 */
        
    }
    .form-box {
        margin: 0 auto; /* 自动边距实现居中 */
        margin-top: 200px;
    }
}

/* 大屏幕，屏幕宽度大于1024px时，右对齐 */
@media (min-width: 1025px) {
    .wrapper {
        justify-content: flex-end; /* 水平靠右对齐 */
    }
    .form-box {
        margin-right: 50px; /* 靠右间距 */
    }
>>>>>>> b90369d2fe9d3a3375bb5a287b306b473d430ae1
}